* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 60px 20px;
  font-size: 48px;
}

p {
  text-align: center;
  margin: 20px auto;
  font-size: 24px;
}
