* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('../img/Grades-bro2.png') no-repeat center center fixed;
  object-fit: cover;
}

/* Header */
.header {
  background-color: #2b6cb0;
}
.header img {
  height: 80px;
}

/* Main content should take remaining height */
main {
  flex: 1;
}
table {
  width: 90%;
  max-width: 900px;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

th,
td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #2b6cb0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

tr:hover {
  background-color: rgba(43, 108, 176, 0.1);
}
/* Text */
h1 {
  text-align: center;
  margin: 0 auto;
  padding: 60px 20px;
  font-size: 48px;
  color: #403f3f;
}

p {
  text-align: center;
  margin: 20px auto;
  font-size: 24px;
  font-weight: 900;
  padding: 60px 10px;
  color: #403f3f;
}

/* Footer */
.footer {
  background-color: #2b6cb0;
  color: #333;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    padding: 60px 10px;
  }
  p {
    font-size: 28px;
    margin-top: 100px;
  }
  table {
    font-size: 14px;
  }
  th,
  td {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    padding: 40px 5px;
  }
  p {
    font-size: 20px;
    margin-top: 80px;
  }

  th,
  td {
    padding: 5px;
    font-size: 12px;
  }

  table {
    min-width: 420px;
  }
}
